header{
    background-image: url(../images/header_home.png);
    height: 553px;
    width: auto;
    padding-top:3%;

}

#headerLogo{
    content: url(../images/Simplon_for_all.svg);
    height: 100px;
    width : 50%;
    padding-left: 19%;

}

#Entête {
    color:white;
    font-size:90px;
    font-weight:bold;
    text-align:center ;
    font-family: ubuntu, sans serif;
    padding-top:3%;
}

#header4Logos{
     display :flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    column-gap: 3%;
    max-width : 200px;
}

.paragraphe {
    text-align: center;
    color: #e41248;
    font-size: 2.8em;
    margin: auto;
    padding: 4rem 0;
    max-width: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.paragraphe2 {
    text-align: start;
    font-size: 1em;
    margin-right: 25%;
    margin-left: 25%;
    max-width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
ul {
    display: block;
    
    
    
}
ul li {
    list-style: none;
}
ul li:before{
   content: "\2022";
   margin-right: 1em;
   margin-left: -1.4em;
   color: #e41248;
   font-size: 2.5em;
   vertical-align: middle;
}
.cube {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    flex-direction: column;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #a39898;
    height: 500px;
    width: 450px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 20px;
    margin: auto;

}
.carre {
    align-items: center;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
}
.boutton {
    background-color: #e41248;
    box-shadow: 2px 2px 2px 2px #a39898;
    border: 2px solid  #e41248;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 0.9em;
    text-align: center;
    width: 75%;
    height: 15%;
    padding: -25px -20px;
    
}
.icon {
    height: 7em;
    padding-top: 10%;

}
h2 {
    text-align: center;
    color: #e41248;
    font-size: 2.5em;
    margin: auto;
    padding: 4rem 0;
    max-width: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
h3 {
    display: block;
    text-anchor: middle;
    margin-top: 33%;
    text-align: center;
    color: black;
    font:inherit;
    font-size: 1.5em;
    max-width: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.textPolygone {
    text-align: left;
    position: sticky;
    text-anchor: middle;
    font-size: 1em;
    margin: auto;
    justify-content: center;
    vertical-align: center;
    max-width: 70%;
    font:inherit;
    white-space: pre-line;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#polygone {
    background-image: url(../images/polygone_identite.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 10% 5%; */
    font-size: 1em;
    text-align: center;
    width: 30em;
    height: 30em;
    box-sizing: border-box;
}
#polygone2 {
    background-image: url(../images/polygone_defi.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 10% 5%; */
    font-size: 1em;
    text-align: center;
    width: 30em;
    height: 30em;
    box-sizing: border-box;

}
#polygone3 {
    background-image: url(../images/polygone_pari.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 10% 5%; */
    font-size: 1em;
    text-align: center;
    width: 30em;
    box-sizing: border-box;
    height: 30em;
}



.acces {
    display: flex;
    flex-direction: row;
    height: 428px;

}
.acc {
    text-align: left;
}

.Sacc {
    text-align: left;
}

.simplonAcces {
    background-color: #e2e5e7;
    flex: 1;
    min-width: 510px;
}

.paraACC {
    margin-left: 50px;
    margin-right: 50px;
}


.pictureAcces {
    display: flex;
    content: url("../images/access.png");
    flex: 1;
    overflow: hidden;
    min-width: 510px;
    padding: 0;
    flex-wrap: wrap;
}

#link1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#link2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#link2 a{
    margin: 10px;
}

#link3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Fpart {
    margin: 0 auto;
}
.footer{
    background-color: black;
    height:300px;
    color:white;
    font-weight:bold;
    font-size:18px;
    font-family: ubuntu, sans serif;
    display : flex;
    padding-left:15px;
    padding-right:15px;
}


.footer{
    background-color: black;
    min-height:300px;
    color:white;
    font-weight:bold;
    font-size:18px;
    font-family: ubuntu, sans serif;
    padding-left:13%;
    padding-right:13%;
}

.Logo{
    padding-top: 80px;
}
#FooterLogo{
    content:url(../images/footer_logo.svg);
    min-width:60%;
    max-height: 60%;
}

#formation{
    text-align: left;
}

#Mentions{
    text-decoration: none;
    text-decoration: underline;
    color:white;
}

#Prod{
    text-decoration: none;
    text-decoration: underline;
    color:white;
}

.footerRight{
    width : 700px;
    text-align:center;
    padding-top : 60px;
}

.footer4Logos{
    display :flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    column-gap: 3%;
    justify-content: center;

}
.footer4Logos a {
    width: 40px;
    height: 40px;
    display:block;
    background-position: center;
    background-repeat: no-repeat;
}
.footer4Logos #facebook a{
    background-image: url(../images/facebook.svg) ;
}

.footer4Logos #facebook a:hover{
    background-image: url(../images/facebook-hover.svg);
}

.footer4Logos #twitter a{
    background-image: url(../images/twitter.svg);
}

.footer4Logos #twitter a:hover{
    background-image: url(../images/twitter-hover.svg);
}

.footer4Logos #instagram a{
    background-image: url(../images/instagram.svg);
}

.footer4Logos #instagram a:hover{
    background-image: url(../images/instagram-hover.svg);
}

.footer4Logos #linkedin a{
    background-image: url(../images/linkedin.svg);
}

.footer4Logos #linkedin a:hover{
    background-image: url(../images/linkedin-hover.svg);
}